@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "READ USER";
}
  
<h1 class="bg-info text-white">All Users</h1>
<a class="btn btn-secondary" href="/Identity/Account/Register">Create a User</a>

  
<table class="table table-sm table-bordered">
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Address</th></tr>
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Id</td>
        <td>@user.FullName</td>
        <td>@user.Email</td>
        <td>@user.Address</td>
    </tr>
    }
</table>